<footer>
    <div class="footer-top">
        <div class="footer-img">
            <a href=""><img src="/assets/footer/app1.png" alt=""></a>
            <a href=""><img src="/assets/footer/google.png" alt=""></a>
        </div>
        <div class="footer-main">
            <div class="Quicklinks">
                <p><b>Quicklinks</b></p>
                <ul>
                    <li><a href=""> Features</a></li>
                    <li><a href=""> Food Menu</a></li>
                    <li><a href=""> Offer</a></li>
                    <li><a href=""> Review</a></li>
                    <li><a href=""> Rider</a></li>
                </ul>
            </div>
            <div class="Know">
                <p><b>Get To Know Us</b></p>
                <ul>

                    <li><a href="">Gift Cards</a></li>
                    <li><a href="">DoorDash Stories</a></li>
                    <li><a href="">Accessibility</a></li>
                </ul>
            </div>

            <div class="news">
                <p><b>News</b></p>
                <ul>
                    <li><a href=""> Blog</a></li>
                    <li><a href=""> FAQ</a></li>
                    <li><a href=""> Press</a></li>
                   
                </ul>
            </div>
            <div class="contact">
                <p><b>Contact Us</b></p>
                <ul>
                    <li><a href="">Whatsapp</a></li>
                    <li><a href="">Support24</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copy">© 2025 Tanawul All right reserved</p>
</footer>