
        <div class="sidebar">
            <div class="my-item1"><i class="fa-solid fa-user my-icon1 icon"></i><a class="my-link" href="/profile" ></a></div>
            <div class="my-item1"><i class="fa-solid fa-truck my-icon2 icon"></i><a class="my-link" href="/order" ></a></div>
            <div class="my-item1" title="addresses"><i class="fa-solid fa-map-location-dot my-icon3 icon"></i><a class="my-link"  href="#"></a></div>
            
            <div class="my-item1"><i class="fa-solid fa-cart-shopping my-icon5 icon"></i><a class="my-link" href="/cart"></a></div>
            <div class="my-item1" title="favourites"><i class="fa-solid fa-heart my-icon6 icon"></i><a class="my-link" href="#"></a></div>
            
            <div class="my-item1"><i class="fa-solid fa-question my-icon8 icon"></i><a class="my-link" href="#"></a></div>
            <div class="my-item1"><i class="fa-solid fa-comment my-icon9 icon"></i><a class="my-link" href="#"></a></div>
            <div class="my-item1" title="settings"><i class="fa-solid fa-gear my-icon10 icon"></i><a class="my-link" href="#"></a></div>
        </div>
        
    
   