<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <section class="features">
        <span class="sub-top">what we serve</span>
        <h2 class="top">You Favourite food delivery Partner</h2>
        <div class="card-container">
            <div class="card">
                <img id="first-img" src="/assets/feature1.png" alt="">
                <p>Easy To Order</p>
                <h5>you only need a few steps in ordering food</h5>
            </div>

            <div class="card">
                <img src="/assets/feature2.png" alt="">
                <p>Fastest Delivery</p>
                <h5>delivery that is always on time even faster</h5>
            </div>

            <div class="card">
                <img src="/assets/feature3.png" alt="">
                <p>Best Quality</p>
                <h5>not only fast but for us quality is also number one</h5>
            </div>
        </div>
    </section>
</body>