  <!-- Sidebar -->
<nav class="col-md-3 col-lg-2 d-md-block bg-light customsidebar position-fixed top-20">
  <div class="position-sticky pt-3">
      <ul class="nav flex-column">
          <!-- Dashboard -->
          <li class="nav-item">
              <a class="nav-link" href="/restaurant">
                  <i class="fas fa-tachometer-alt me-2"></i>
                  Dashboard
              </a>
          </li>
          
          <!-- Orders Section -->
          <li class="nav-item">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>Orders</span>
              </h6>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/restaurant/orders">
                  <i class="fas fa-shopping-cart me-2"></i>
                  All Orders
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/restaurant/orders/new">
                  <i class="fas fa-clock me-2"></i>
                New orders
                  <!-- <span class="badge bg-warning rounded-pill ms-auto">5</span> -->
              </a>
          </li>
          <li class="nav-item">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>Restaurant</span>
              </h6>
          </li>
    
          <li class="nav-item">
              <a class="nav-link" href="/restaurant/cuisines/add">
                  <i class="fas fa-user-plus me-2"></i>
                  Add foods
              </a>
          </li>
           <li class="nav-item">
              <a class="nav-link" href="/restaurant/cuisines">
                  <i class="fas fa-user-plus me-2"></i>
                  My foods
              </a>
          </li>
          </ul>
  </div>
</nav>